body {
  font-family : Arial, Helvetica, sans-serif;
  font-size: 100%; /* to make IE behave */
  background-color : white;
  color : black;
  padding: 0.75em 1em 0em 1em;
}
#logoTable {
  padding: 0em;
  margin: 0em;
}
#logoTable img {
  display: inline;
}
#logoTable #rpiLinksCell {
  vertical-align: bottom;
  text-align: right;
  font-size: 0.8em;
  white-space : nowrap;
}
#logoTable #rpiLinksCell a:link,
#logoTable #rpiLinksCell a:visited,
#logoTable #rpiLinksCell a:active {
  background-color: transparent;
  color: #999;
  text-decoration: none;
}
#logoTable #rpiLinksCell a:hover {
  background-color: #eee;
  color: #333;
  text-decoration: none;
}
#titleBar {
  display: none;
}
#photo {
  height: 38px;
  background : url(../../images/rensselaer/personalcal-photo.jpg) no-repeat right;
}
#photo h2 {
  display: none;
}
.rssPrint {
  margin: 0;
  padding-right: 1em;
  font-weight : bold;
  text-align : right;
  white-space: nowrap;
}
.rssPrint img {
  display: inline;
  position: relative;
  top: 3px;
}
.rssPrint a:link,
.rssPrint a:active,
.rssPrint a:visited {
  font-size: 10px;
  color: #eee;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  text-decoration: none;
  margin-right: 0.5em;
  position: relative;
  top: -3px;
}
.rssPrint a:hover {
  color: #663;
  background-color: #fff;
}
.rssPrint a.rss:link,
.rssPrint a.rss:active,
.rssPrint a.rss:visited {
  font-size: 10px;
  font-weight: bold;
  color: #444;
  background-color: #ddd;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding: 0px 1px 0px 1px;
  text-decoration: none;
  margin-right: 0.5em;
  margin-left: 2px;
  position: relative;
  top: -3px;
  border: solid 1px #666;
}
.rssPrint a.rss:hover {
  color: #900;
  background-color: #fff;
}
#userBarTable {
  margin: 0;
  padding: 0;
  background-color : #eee;
  color: black;
  font-size: 0.9em;
}
#userBarTable .leftCell {
  margin: 0;
  padding: 0;
  border-left: 2px solid #333;
  padding: 0.2em 0 0.2em 1em;
  white-space: nowrap;
}
#userBarTable .leftCell .link {
  font-size: 0.8em;
  padding-left: 1em;
  color: #999;
  background-color: transparent;
}
#userBarTable .leftCell a {
  color: #999;
  background-color: transparent;
}
#userBarTable .logout {
  font-size: 0.8em;
}
#userBarTable .rightCell {
  margin: 0;
  padding: 0.1em 0.2em 0 0;
  text-align: right;
  border-right: 2px solid #333;
  white-space: nowrap;
}
#userBarTable form {
  margin: 0px 0px 1px 0px;
  padding: 0em;
}
#tabsTable {
  margin: 0em;
  padding: 4px 0px 0px 0px;
  text-align: center;
  background-color: #333;
  color: #eee;
}
#tabsTable .centerCell {
  text-align: left;
  background : url(images/std-tab-space.gif);
  font-size: 0.8em;
  white-space: nowrap;
  width: 100%;
  padding-left: 0.5em;
}
#tabsTable .centerCell  a {
  color: #777;
  background-color: transparent;
}
#tabsTable .rightCell {
  background : url(images/std-tab-space.gif);
  padding-right: 0.5em;
}
#navigationBarTable {
  font-size: 0.8em;
  margin: 0em;
  padding: 0em;
  vertical-align: top;
  border-left : 2px solid #333;
  border-right : 2px solid #333;
  border-bottom: 1px solid Gray;
}
#navigationBarTable a {
  text-decoration: none;
  white-space: nowrap;
}
#navigationBarTable td {
  vertical-align: top;
}
#navigationBarTable form {
  display: inline;
  margin-bottom: 0em;
}
#navigationBarTable table {
  display: inline;
  margin-bottom: 0em;
}
#navigationBarTable td.todayButton {
  padding: 1em 1em 0em 1em;
}
#navigationBarTable td.gotoForm {
  padding: 1em 0em 0em 1em;
}
#navigationBarTable td.leftCell {
    text-align: left;
  white-space: nowrap;
  padding-left: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.75em 0em 0.75em 1em;
  width: 100%;
  vertical-align: middle;
}
#navigationBarTable td.leftCell .prevImg {
  margin: 0;
  vertical-align: middle;
}
#navigationBarTable td.leftCell .nextImg {
  margin-left: 0.2em;
  margin-right: 0.5em;
  vertical-align: middle;
}
#navigationBarTable td.rightCell {
  text-align: right;
  padding: 1em 0.5em 0em 0em;
}
#navigationBarTable td.rightCell select {
  padding-right: 0em;
  margin: 0em;
  width: 10em;
}
#navigationBarTable .calLinks {
  white-space: nowrap;
}
#messages,
#errors {
  font-size: 0.8em;
  margin: 0em;
  padding: 0.2em 0 0.2em 1em;
  border-left : 2px solid #333;
  border-right : 2px solid #333;
  border-bottom: 1px solid Gray;
}
#messages p,
#errors p {
  margin: 0;
  padding: 0;
}
#messages {
  color: black;
  background-color: #ffe;
}
#errors {
  color: black;
  background-color: #ffa;
}
th#commonHeader {
  /*background-color: black;
  color: #eee;*/
  background-color: #ccc;
  color: #333;
  padding: 0.2em 0.5em;
  text-align: left;
}
#standardForm {
  margin: 0;
  padding: 0;
}
#commonTable {
  width: 100%;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
  border-bottom: 2px solid #aaa;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
#commonTable td.fieldval,
#commonTable col.fieldval {
  margin: 0em;
  vertical-align: top;
  padding: 0.5em 0.5em 0.2em 1em;
}
#commonTable td.fieldname,
#commonTable col.fieldname {
  margin: 0em;
  vertical-align: top;
  padding: 0.5em 0.5em 0.2em 0.5em;
  color: black;
  background-color: #eee;
}
#commonTable th.fieldval {
  text-align: left;
  padding: 1em 0.5em 0.5em 1em;
  background-color: #fff;
  color: black;
  width: 100%;
}
#commonTable th.fieldname {
  text-align: left;
  padding: 1em 0.5em 0.5em 0.5em;
  background-color: #eee;
  color: black;
}
#commonTable th.icon {
  margin: 0em;
  vertical-align: middle;
  padding: 0.5em 1em 0.2em 0;
  font-size: 0.7em;
}
#commonTable td.eventLinks {
  background-color: #ddd;
  color: #eee;
  padding: 6px 0;
  text-align: center;
}
#commonTable #eventActions {
  float: right;
  clear: none;
}
#commonTable td.plain {
  color: black;
  background-color: white;
}
form#subscriptions {
  margin: 0;
  padding: 0;
}
#calPageTable {
  width: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #aaa;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
#calPageTable td {
  width: 50%;
  vertical-align: top;
  padding: 0.5em 2em 1em 3em;
}
#calPageTable th {
  padding: 4px 0;
  font-size: 1.2em;
  background-color: #ccc;
  color: black;
  font-weight: bold;
}
#calPageTable td.leftCell {
  border-right : thin dashed #999;
}
#calPageTable h2 {
  font-size: 1.2em;
}
#calPageTable td.infoCell {
  background-color: #eee;
  color: black;
  text-align: center;
  padding: 4px;
}
#calPageTable li {
  list-style-type : none;
}
#calPageTable li input[type="checkbox"] {
  margin-right: 0.5em;
}
#dayCalendarTable {
  width: 100%;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #666;
  border-bottom: 2px solid #aaa;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
#dayCalendarTable td {
  padding: 0.4em;
  margin: 0em;
}
#dayCalendarTable .dateRange {
  text-align: left;
  background-color: #f0eee5;
  color: black;
  white-space: nowrap;
}
#dayCalendarTable .description {
  text-align: left;
  background-color: #fff;
  color: black;
  width: 100%;
}
#dayCalendarTable .more {
  text-align: center;
  background-color: #eee;
  color: black;
  font-size: 0.8em;
}
#weekCalendarTable {
  width: 100%;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #666;
  border-bottom: 2px solid #aaa;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
#weekCalendarTable td {
  padding: 0.4em;
  margin: 0em;
}
#weekCalendarTable .dateRange {
  text-align: left;
  background-color: #e2decc;
  color: black;
  white-space: nowrap;
}
#weekCalendarTable .description {
  text-align: left;
  background-color: #fff;
  color: black;
  width: 100%;
}
#weekCalendarTable .more {
  text-align: center;
  background-color: #eee;
  color: black;
  font-size: 0.8em;
}
#monthCalendarTable {
  width: 100%;
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #666;
  border-bottom: 2px solid #aaa;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
#monthCalendarTable th.dayHeading {
  width: 14%;
  text-align: center;
  vertical-align: middle;
  background-color: #663;
  color: #eee;
  border: 1px solid black;
}
#monthCalendarTable td {
  width: 14%;
  height: 60px;
  vertical-align: top;
  text-align: left;
  padding: 0em;
  border: 1px solid #aaa;
  background-color: white;
  color: black;
}
#monthCalendarTable td.filler {
  border: none;
  background-color: #eee;
  color: black;
}
#monthCalendarTable ul {
  font-size: 0.8em;
  list-style : none;
  margin: 0em;
  padding: 0.3em 0em 0em 0em;
}
#monthCalendarTable ul li {
  margin: 0em;
  padding: 0em;
  display: inline;
}
#monthCalendarTable a.eventLinkA:link,
#monthCalendarTable a.eventLinkA:visited,
#monthCalendarTable a.eventLinkA:active  {
  display: block;
  padding: 0.1em 0.2em 0.1em 0.2em;
  text-decoration: none;
  background-color: #d1cbb3;
  color: black;
}
#monthCalendarTable a.eventLinkB:link,
#monthCalendarTable a.eventLinkB:visited,
#monthCalendarTable a.eventLinkB:active  {
  display: block;
  padding: 0.1em 0.2em 0.1em 0.2em;
  text-decoration: none;
  background-color: #f0eee5;
  color: black;
}
#monthCalendarTable a.eventCancelled:link,
#monthCalendarTable a.eventCancelled:visited,
#monthCalendarTable a.eventCancelled:active  {
  display: block;
  padding: 0.1em 0.2em 0.1em 0.2em;
  text-decoration: none;
  background-color: #ccc;
  color: black;
}
#monthCalendarTable a.holiday:link,
#monthCalendarTable a.holiday:visited,
#monthCalendarTable a.holiday:active  {
  display: block;
  padding: 0.1em 0.2em 0.1em 0.2em;
  text-decoration: none;
  background-color: #fff;
  color: black;
  /*border-top: 1px solid black;
  border-bottom: 1px solid black;*/
}
#monthCalendarTable a.eventLinkA:hover,
#monthCalendarTable a.eventLinkB:hover,
#monthCalendarTable a.eventCancelled:hover,
#monthCalendarTable a.holiday:hover   {
  display: block;
  padding: 0.1em 0.2em 0.1em 0.2em;
  text-decoration: none;
  color: black;
  background-color: #ffe;
}
#monthCalendarTable a.dayLink {
  text-decoration: none;
  color: black;
  background-color: transparent;
}
#monthCalendarTable a:hover.dayLink {
  text-decoration: none;
  color: #eee;
  background-color: black;
}
#monthCalendarTable a:hover {
  /* required for eventTip to hover correctly;
     apply only to the hover pseudo class, or
     the other anchors nearby will cover the eventTip in IE */
  position: relative;
}
#monthCalendarTable a span.eventTip,
#monthCalendarTable a span.eventTipReverse {
  display: none;
}
#monthCalendarTable a:hover span.eventTip {
  display: block;
  position: absolute;
  width: 20em;
  top: 1em;
  left: 12em;
  background-color: #ffe;
  color: black;
  padding: 4px;
  border: 1px solid #333;
}
#monthCalendarTable a:hover span.eventTipReverse {
  display: block;
  position: absolute;
  width: 20em;
  top: 1em;
  left: -21em;
  background-color: #ffe;
  color: black;
  padding: 4px;
  border: 1px solid #333;
}
a.gridAdd {
  display: block;
  float: right;
  font-size: 0.8em;
  text-decoration: none;
  margin-right: 2px;
}
#yearCalendarTable {
  width: 100%;
  font-size: 0.9em;
  margin: 0px;
  padding: 0em;
  border-top: 1px solid #666;
  border-bottom: 2px solid #aaa;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
#yearCalendarTable td {
  padding: 1em 0em 0em 0em;
  margin: 0em;
  vertical-align: top;
  text-align: center;
  width: 33%;
}
#yearCalendarTable table.yearViewMonthTable {
  margin: 0em  1em 0.5em 1em;
  border: 1px solid #666;
}
#yearCalendarTable table.yearViewMonthTable td {
  text-align: center;
  padding: 0.2em;
  width: 12.5%;
}
#yearCalendarTable table.yearViewMonthTable th {
  font-weight: bold;
  background-color: #f5f5f5;
  color: black;
  padding: 0.2em;
}
#yearCalendarTable table.yearViewMonthTable td.monthName {
  font-weight: bold;
  text-align: center;
  background-color: #d1cbb3;
  color: #eee;
  white-space: nowrap;
  border-bottom: 1px solid #999;
}
#yearCalendarTable table.yearViewMonthTable td.weekCell {
  font-weight: bold;
  font-size: 0.8em;
  background-color: #f5f5f5;
  color: black;
}
#yearCalendarTable  table.yearViewMonthTable td  a  {
  text-decoration: none;
  background-color: inherit;
  border: 1px solid #dlcbb3;
  color: black;
}
#yearCalendarTable  table.yearViewMonthTable td.weekCell a  {
  text-decoration: none;
  background-color: inherit;
  border: 1px solid #f5f5f5;
  color: black;
}
#yearCalendarTable  table.yearViewMonthTable td.monthName a  {
  text-decoration: none;
  background-color: inherit;
  color: black;
}
#yearCalendarTable  table.yearViewMonthTable td a:hover  {
  text-decoration: none;
  background-color: #FFC;
  color: black;
  border: 1px solid black;
}
#listTable {
  width: 100%;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #666;
  border-bottom: 2px solid #aaa;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
#listTable td {
  padding: 0.5em;
  margin: 0em;
  border-bottom: 1px solid #bbb;
}
#listTable td a {
  background-color: transparent;
  color: black;
  text-decoration: none;
}
#listTable td.dateRangeCrossDay {
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #ddd;
  color: black;
  white-space: nowrap;
}
#listTable td.dateRangeEarlyMorning {
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #cbd1de;
  color: black;
  white-space: nowrap;
}
#listTable td.dateRangeMorning {
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #f0eee5;
  color: black;
  white-space: nowrap;
}
#listTable td.dateRangeAfternoon {
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #e2decc;
  color: black;
  white-space: nowrap;
}
#listTable td.dateRangeEvening {
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #d1cbb3;
  color: black;
  white-space: nowrap;
}
#listTable span.littleArrow {
  font-size: 1.4em;
}
#listTable td.description {
  text-align: left;
  background-color: #fff;
  color: black;
  width: 100%;
}
#listTable td.cancelled {
  background-color: #ddd;
  color: black;
}
#listTable td.description a {
  display: block;
  background-color: transparent;
  color: black;
  text-decoration: none;
}
#listTable td.description a.moreLink {
  display: inline;
  background-color: transparent;
  color: #663;
  text-decoration: underline;
}
#listTable td.description:hover {
  background-color: #eee;
  color: black;
  text-decoration: none;
}
#listTable td.dateRow {
  text-align: left;
  background-color: #888;
  color: #eee;
  font-size: 0.8em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0em;
}
#listTable td.dateRow a {
  display: block;
  color: #fff;
  background-color: transparent;
  font-weight: bold;
  text-decoration : none;
}
#listTable td.eventLinks {
  color: black;
  background-color: #f0eee5;
  white-space : nowrap;
  font-size : 0.7em;
}
#listTable td.eventLinks a {
  text-decoration: underline;
}
#listTable td.eventLinks a:hover {
  color: #eee;
  background-color: #333;
  text-decoration: none;
}
#listTable td.smallIcon {
  color: black;
  background-color: #ddd;
}
.noEventsCell {
  padding: 1em;
}
#footer {
  font-size: 0.7em;
  text-align : center;
  margin-top: 0em;
  padding: 1em;
  color: #333;
  background-color: #eee;
  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  white-space: nowrap;
}
#footer a {
  color: #333;
  background-color: transparent;
  text-decoration: underline;
}
#skinSelectorTable {
  width: 100%;
  padding-top: 0.5em;
  font-size: 0.7em;
  color: #333;
  background-color: inherit;
}
#skinSelectorTable td {
  vertical-align: top;
}
#skinSelectorTable td.rightCell {
  text-align: right;
}
#skinSelectorTable td.leftCell {
  text-align: left;
  color: #999;
  background-color: inherit;
}
#skinSelectorTable td.leftCell  a {
  color: #999;
  background-color: inherit;
}
#skinSelectorTable td.rightCell form {
  display: inline;
  margin: 0em;
  padding: 0em;
}
#skinSelectorTable td.rightCell select {
  font-size: 0.9em;
  color: #333;
  background-color: #eee;
}
/*   LINKS    */
a:link, a:active {
  color: #552;
  background-color: transparent;
}
a:visited {
  color: #600;
  background-color: transparent;
}
a:hover {
  color: red;
  background-color: transparent;
}
span.time {
  text-transform : lowercase;
}
#featureHighlight {
  color: #dd0;
  font-style: italic;
}