/* subscription colors for user client.
   background-color must be "important" to override more
   specific selectors in the default.css stylesheet */
.FFFFFF {
  background-color: #FFFFFF !important;
  color: black;
  border-top: 1px solid #fff;
}
.F8F8FF {
  background-color: #F8F8FF !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFFAF0 {
  background-color: #FFFAF0 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFF5EE {
  background-color: #FFF5EE !important;
  color: black;
  border-top: 1px solid #fff;
}
.EEE5DE {
  background-color: #ddd5DE !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFFFF0 {
  background-color: #FFFFF0 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FAF0E6 {
  background-color: #FAF0E6 !important;
  color: black;
  border-top: 1px solid #fff;
}
.EEEEE0 {
  background-color: #dddEE0 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFFFE0 {
  background-color: #FFFFE0 !important;
  color: black;
  border-top: 1px solid #fff;
}
.EEEED1 {
  background-color: #dddED1 !important;
  color: black;
  border-top: 1px solid #fff;
}
.CDCDB4 {
  background-color: #CDCDB4 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFFACD {
  background-color: #FFFACD !important;
  color: black;
  border-top: 1px solid #fff;
}
.EEE9BF {
  background-color: #ddd9BF !important;
  color: black;
  border-top: 1px solid #fff;
}
.CDC9A5{
  background-color: #CDC9A5 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFF68F {
  background-color: #FFF68F !important;
  color: black;
  border-top: 1px solid #fff;
}
.EEE685 {
  background-color: #ddd685 !important;
  color: black;
  border-top: 1px solid #fff;
}
.CDC673 {
  background-color: #CDC673 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFEC8B {
  background-color: #FFEC8B !important;
  color: black;
  border-top: 1px solid #fff;
}
.EEDC82 {
  background-color: #EEDC82 !important;
  color: black;
  border-top: 1px solid #fff;
}
.CDBE70 {
  background-color: #CDBE70 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFF8DC {
  background-color: #FFF8DC !important;
  color: black;
  border-top: 1px solid #fff;
}
.EEE8CD {
  background-color: #ddd8CD !important;
  color: black;
  border-top: 1px solid #fff;
}
.CDC8B1 {
  background-color: #CDC8B1 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FDF5E6 {
  background-color: #FDF5E6 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFEFDB {
  background-color: #FFEFDB !important;
  color: black;
  border-top: 1px solid #fff;
}
.EEDFCC {
  background-color: #EEDFCC !important;
  color: black;
  border-top: 1px solid #fff;
}
.FAEBD7 {
  background-color: #FAEBD7 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFEFD5 {
  background-color: #FFEFD5 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFEBCD {
  background-color: #FFEBCD !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFDAB9 {
  background-color: #FFDAB9 !important;
  color: black;
  border-top: 1px solid #fff;
}
.EECBAD {
  background-color: #EECBAD !important;
  color: black;
  border-top: 1px solid #fff;
}
.CDAF95 {
  background-color: #CDAF95 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFE7BA {
  background-color: #FFE7BA !important;
  color: black;
  border-top: 1px solid #fff;
}
.EED8AE {
  background-color: #EED8AE !important;
  color: black;
  border-top: 1px solid #fff;
}
.CDBA96 {
  background-color: #CDBA96 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFE4B5 {
  background-color: #FFE4B5 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFDEAD {
  background-color: #FFDEAD !important;
  color: black;
  border-top: 1px solid #fff;
}
.EECFA1 {
  background-color: #EECFA1 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFE4C4 {
  background-color: #FFE4C4 !important;
  color: black;
  border-top: 1px solid #fff;
}
.EED5B7 {
  background-color: #EED5B7 !important;
  color: black;
  border-top: 1px solid #fff;
}
.CDB79E {
  background-color: #CDB79E !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFD39B {
  background-color: #FFD39B !important;
  color: black;
  border-top: 1px solid #fff;
}
.EEC591 {
  background-color: #EEC591 !important;
  color: black;
  border-top: 1px solid #fff;
}
.CDAA7D {
  background-color: #CDAA7D !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFA07A {
  background-color: #FFA07A !important;
  color: black;
  border-top: 1px solid #fff;
}
.EE9572 {
  background-color: #EE9572 !important;
  color: black;
  border-top: 1px solid #fff;
}
.CD8162 {
  background-color: #CD8162 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FF8C69 {
  background-color: #FF8C69 !important;
  color: black;
  border-top: 1px solid #fff;
}
.EE8262 {
  background-color: #EE8262 !important;
  color: black;
  border-top: 1px solid #fff;
}
.CD7054 {
  background-color: #CD7054 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFA54F {
  background-color: #FFA54F !important;
  color: black;
  border-top: 1px solid #fff;
}
.EE9A49 {
  background-color: #EE9A49 !important;
  color: black;
  border-top: 1px solid #fff;
}
.CD853F {
  background-color: #CD853F !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFE4E1 {
  background-color: #FFE4E1 !important;
  color: black;
  border-top: 1px solid #fff;
}
.EED5D2 {
  background-color: #EED5D2 !important;
  color: black;
  border-top: 1px solid #fff;
}
.CDB7B5 {
  background-color: #CDB7B5 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFC1C1 {
  background-color: #FFC1C1 !important;
  color: black;
  border-top: 1px solid #fff;
}
.EEB4B4 {
  background-color: #EEB4B4 !important;
  color: black;
  border-top: 1px solid #fff;
}
.CD9B9B {
  background-color: #CD9B9B !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFB5C5 {
  background-color: #FFB5C5 !important;
  color: black;
  border-top: 1px solid #fff;
}
.EEA9B8 {
  background-color: #EEA9B8 !important;
  color: black;
  border-top: 1px solid #fff;
}
.CD919E {
  background-color: #CD919E !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFAEB9 {
  background-color: #FFAEB9 !important;
  color: black;
  border-top: 1px solid #fff;
}
.EEA2AD {
  background-color: #EEA2AD !important;
  color: black;
  border-top: 1px solid #fff;
}
.CD8C95 {
  background-color: #CD8C95 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFF0F5 {
  background-color: #FFF0F5 !important;
  color: black;
  border-top: 1px solid #fff;
}
.EEE0E5 {
  background-color: #ddd0E5 !important;
  color: black;
  border-top: 1px solid #fff;
}
.CDC1C5 {
  background-color: #CDC1C5 !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFE1FF {
  background-color: #FFE1FF !important;
  color: black;
  border-top: 1px solid #fff;
}
.EED2EE {
  background-color: #EED2EE !important;
  color: black;
  border-top: 1px solid #fff;
}
.CDB5CD {
  background-color: #CDB5CD !important;
  color: black;
  border-top: 1px solid #fff;
}
.FFBBFF {
  background-color: #FFBBFF !important;
  color: black;
  border-top: 1px solid #fff;
}
.EEAEEE {
  background-color: #EEAEEE !important;
  color: black;
  border-top: 1px solid #fff;
}
.CD96CD {
  background-color: #CD96CD !important;
  color: black;
  border-top: 1px solid #fff;
}
.F0FFF0 {
  background-color: #F0FFF0 !important;
  color: black;
  border-top: 1px solid #fff;
}
.E0EEE0 {
  background-color: #E0EEE0 !important;
  color: black;
  border-top: 1px solid #fff;
}
.C1CDC1 {
  background-color: #C1CDC1 !important;
  color: black;
  border-top: 1px solid #fff;
}
.F0FFFF {
  background-color: #F0FFFF !important;
  color: black;
  border-top: 1px solid #fff;
}
.F0F8FF {
  background-color: #F0F8FF !important;
  color: black;
  border-top: 1px solid #fff;
}
.E6E6FA {
  background-color: #E6E6FA !important;
  color: black;
  border-top: 1px solid #fff;
}
