body {
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color : white;
  color : black;
}
#headBar {
  margin: 0;
  padding: 1em;
  color: #eee;
  background: #0038A8;
  text-align: right;
}
#headBar h1 {
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}
#menuBar {
  color: #999;
  background: white url("../../resources/menubar.gif") repeat-x;
  height: 49px;
  margin: 0 0 3px 0;
  padding: 13px 0 0 10px;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}
#menuBar a:link,
#menuBar a:active,
#menuBar a:visited {
  color: black;
  background: transparent;
  text-decoration: none;
}
#menuBar a:hover {
  color: #0038A8;
  background: transparent;
  text-decoration: underline;
}
#bodyBlock {
  width: 100%;
  border-top: 1px solid #ccc;
}
#bodyBlock td#fbForm {
  width: 120px;
  padding: 0;
  border-right: 1px solid #ccc;
  vertical-align: top;
  white-space: nowrap;
}
#bodyBlock td#fbForm form {
  margin: 0;
}
#bodyBlock td#fbForm form#freebusyForm {
  margin: 1em 0.5em 1em 1em;
}
#bodyBlock td#fbForm form input {
  margin: 2px 0;
  padding: 0;
}
#bodyBlock td#fbForm h4,
#bodyBlock td#logos h4 {
  background: #eee;
  color: black;
  font-size: 1em;
  padding: 2px 0;
  text-align: center;
  margin: 0 0 1em 0;
}
#bodyBlock td#fbForm p {
  margin: 0 0 0.5em 0;
  padding: 0;
}
#bodyBlock td#fbForm p.padTop {
  margin: 1em 0 0 0;
  padding: 0;
}
#bodyBlock td#fbForm #users {
  margin: 1em auto 0 auto;
  padding: 0;
}
#bodyBlock td#bodyContent {
  vertical-align: top;
  padding: 1em;
}
#bodyBlock td#bodyContent h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}
#bodyBlock #frontPage {
  text-align: center;
}
#bodyBlock td#logos {
  width: 112px;
  padding: 0;
  text-align: center;
  vertical-align: top;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#freeBusy {
  margin: 1em auto;
}
#freeBusy td {
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin: 0;
}
#freeBusy td.morning {
  color: black;
  background: #ddf;
}
#freeBusy td.evening {
  color: black;
  background: #dde;
}
#freeBusy td.timeLabels {
  vertical-align: middle;
  text-align: center;
  font-size: 0.8em;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
#freeBusy td.dayDate {
  white-space: nowrap;
}
#freeBusy td.free,
#freeBusyKey td.free {
  color: #A3BAEA;
  background-color: #A3BAEA;
}
#freeBusy td.busy,
#freeBusyKey td.busy {
  color: #fbb;
  background-color: #fbb;
}
#freeBusy td.tentative,
#freeBusyKey td.tentative {
  color: #eee;
  background: #eee url('../../resources/tentativeLines.gif') top;
}
#freeBusyKey {
  margin: 0.5em auto 1em auto;
}
#freeBusyKey td {
  padding: 5px;
}
#freeBusy td.free a {
  color: #A3BAEA;
  background-color: transparent;
  display: block;
  padding: 3px 3px;
  width: 10px;
  height: 10px;
  text-decoration: none;
}
#freeBusy td.tentative a  {
  color: #eee;
  background-color: transparent;
  display: block;
  padding: 3px 3px;
  width: 10px;
  height: 10px;
  text-decoration: none;
}
#freeBusy td.busy a {
  color: #fbb;
  background-color: transparent;
  display: block;
  padding: 3px 3px;
  width: 10px;
  height: 10px;
  text-decoration: none;
}
#freeBusy td.busy a:hover,
#freeBusy td.free a:hover,
#freeBusy td.tentative a:hover  {
  color: black;
  background-color: yellow;
  text-decoration: none;
}
#footer {
  font-size: 0.75em;
  text-align : center;
  margin-top: 0em;
  padding: 1em 1em 1.2em 1em;
  color: #333;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  white-space: nowrap;
}
#footer a {
  color: #333;
  background-color: transparent;
  text-decoration: underline;
}
/*   LINKS    */
a:link, a:active, a:visited {
  color: #2c5f89;
  background-color: transparent;
}
a:hover {
  color: #b00;
  background-color: transparent;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
/* Header IDs and classes */
#errors {
  margin: 0;
  padding: 1em;
  background-color: #333;
  color: #ff9;
  font-weight: bold;
}