body {
  font-family : Arial, Helvetica, sans-serif;
  font-size: 100%; /* to make IE behave */
  background-color : white;
  color : black;
  padding: 0.75em 1em 0em 1em;
}
/* Generic selectors*/
h2 {
  margin: 0em;
  padding: 0.2em 0.2em 0.2em 0.5em;
  font-size: 1.3em;
  border-bottom: 1px solid #ccc;
  /*border-top: 1px solid #ccc;*/
}
#bodyBlock h2 {
  color: black;
  background: #f5f5f5;
}
h2 a:link,
h2 a:active,
h2 a:visited,
h2 a:hover {
  color: black;
  background-color: inherit;
  text-decoration: none;
}
h2.bwStatusConfirmed,
h2.common {
  background-color: #eee;
  color: black;
}
h2.bwStatusCancelled {
  background-color: #eee;
  color: black;
}
h2.bwStatusTentative {
  background: #eee url('../../resources/tentativeLines.gif') top;
  color: black;
}
h2 .formButtons {
  float: right;
  font-size: 0.8em;
}
div.eventSubmitButtons {
  text-align: right;
  margin: 1em 0.5em;
}
.eventSubmitButtons input,
.formButtons input {
  margin: 0;
  font-size: 0.8em;
}
h3 {
  margin: 0em;
  padding: 1em 0.2em 0em 0.2em;
  font-size: 1.1em;
}
h4 {
  margin: 0em;
  padding: 1em 0.2em 0em 0.2em;
  font-size: 1em;
}
td {
  vertical-align: top;
}
.center {
  text-align: center;
}
.small {
  font-size: 0.8em;
}
/* Header IDs and classes */
#logoTable {
  padding: 0em;
  margin: 0em;
}
#logoTable #logoCell {
  white-space: nowrap;
  font-weight: bold;
  font-size: 2em;
}
#logoTable img {
  padding: 0 0 2px 5px;
  margin: 0;
}
#logoTable #schoolLinksCell {
  vertical-align: bottom;
  text-align: right;
  font-size: 0.8em;
  white-space : nowrap;
  padding: 0 2px 2px 0;
}
#logoTable #schoolLinksCell h2 {
  margin: 0 0 2px 0;
  padding: 0;
  font-size: 2em;
  color: #444;
  background-color: transparent;
  border: none;
}
#logoTable #schoolLinksCell a:link,
#logoTable #schoolLinksCell a:visited,
#logoTable #schoolLinksCell a:active {
  background-color: transparent;
  color: #999;
  text-decoration: none;
}
#logoTable #schoolLinksCell a:hover {
  background-color: #eee;
  color: #333;
  text-decoration: none;
}
#curDateRangeTable {
  width: 100%;
  height: 26px;
  background: #233979 url(../../resources/glassFill-02.gif) repeat-x bottom;
  color : #eee;
  margin: 0em;
  font-weight : bold;
  text-align : center;
  white-space: nowrap;
}
#curDateRangeTable td {
  padding-top: 5px;
  padding-bottom: 1px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  vertical-align: middle;
}
#curDateRangeTable td.sideBarOpenCloseIcon {
  background: url(../../resources/glassFill-02-leftBorder.gif) no-repeat top left;
  color: inherit;
  width: 200px;
}
#curDateRangeTable td.date {
  font-weight : bold;
  text-align : center;
  white-space: nowrap;
}
#curDateRangeTable td.rssPrint {
  background: url(../../resources/glassFill-02-rightBorder.gif) no-repeat top right;
  color: inherit;
  width: 200px;
  font-weight : bold;
  text-align : right;
  white-space: nowrap;
  vertical-align: middle;
}
#curDateRangeTable td.rssPrint img {
  position: relative;
  top: 3px;
}
#curDateRangeTable td.rssPrint a:link,
#curDateRangeTable td.rssPrint a:active,
#curDateRangeTable td.rssPrint a:visited {
  font-size: 10px;
  color: #eee;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  text-decoration: none;
  margin-right: 0.5em;
  position: relative;
  top: -3px;
}
#curDateRangeTable td.rssPrint a:hover {
  color: #663;
  background-color: #fff;
}
#curDateRangeTable td.rssPrint a.rss:link,
#curDateRangeTable td.rssPrint a.rss:active,
#curDateRangeTable td.rssPrint a.rss:visited {
  font-size: 10px;
  font-weight: bold;
  color: #444;
  background-color: #ddd;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding: 0px 1px 0px 1px;
  text-decoration: none;
  margin-right: 0.5em;
  margin-left: 2px;
  position: relative;
  top: -3px;
  border: solid 1px #666;
}
#curDateRangeTable td.rssPrint a.rss:hover {
  color: #900;
  background-color: #fff;
}
#bodyBlock {
  width: 100%;
  margin: 0;
  padding: 0;
}
#bodyBlock td#sideBar {
  width: 200px;
  font-size: 0.8em;
  color: black;
  background: white url(../../resources/sideBarGrayGrad.gif) repeat-y right;
  border-left: 2px solid #333;
  border-right: 1px solid #333;
  border-bottom: 2px solid #aaa;
  border-top: 24px solid #333;
  vertical-align: top;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
#bodyBlock td#sideBar h3 {
  color: #eee;
  background: #4164AE url(../../resources/sideBarBlueGrad.gif) repeat-y right;
  font-weight: normal;
  margin: 0;
  padding: 2px 4px;
}
#bodyBlock td#sideBar h3 a:link,
#bodyBlock td#sideBar h3 a:active,
#bodyBlock td#sideBar h3 a:visited {
  color: #eee;
  background: transparent;
  text-decoration: none;
}
#bodyBlock td#sideBar h3 a:hover {
  color: #ff3;
  background: transparent;
  text-decoration: none;
}
#bodyBlock td#sideBarClosed {
  width: 1px;
  border-left: 1px solid #333;
  border-bottom: 2px solid #aaa;
  padding: 0;
  color: black;
  background-color: #333;
}
#bodyBlock td#sideBar a:link,
#bodyBlock td#sideBar a:active,
#bodyBlock td#sideBar a:visited {
  text-decoration: none;
}
#bodyBlock td#sideBar a:hover {
  color: black;
  background-color: #ff3;
}
#sideBarOpenCloseIcon {
  float: left;
  margin: 3px 0;
  vertical-align: middle;
}
#bodyBlock td#sideBar #sideBarMenu li {
  padding-bottom: 0.5em;
}
#myViews li {
  list-style: none;
}
#myViews li.selected {
  list-style-image: url(../../resources/glassFill-icon-view.gif);
  font-weight: bold;
}
#bodyBlock td#bodyContent {
  border-right: 2px solid #333;
  border-bottom: 2px solid #aaa;
  vertical-align: top;
  padding: 0;
  margin: 0;
}
#utilBarTable {
  margin: 0;
  padding: 0;
  background-color : #eee;
  color: black;
  font-size: 0.9em;
  border-bottom: 1px solid #999;
}
#utilBarTable .leftCell {
  margin: 0;
  padding: 0;
  padding: 0.2em 0 0.2em 1em;
  white-space: nowrap;
}
#utilBarTable .leftCell a {
  color: #666;
  background-color: transparent;
  font-size: 0.75em;
  text-decoration: none;
  margin-right: 6px;
}
#utilBarTable .leftCell img {
  display: inline;
  margin-right: 2px;
  vertical-align: middle;
}
#utilBarTable .rightCell {
  margin: 0;
  padding: 0.1em 0.2em 0 0;
  text-align: right;
  white-space: nowrap;
}
#utilBarTable form,
#searchPageForm {
  display: inline;
  margin: 0px 0px 1px 0px;
  padding: 0em;
  white-space: nowrap;
}
#searchPageForm {
  float: right;
}
#utilBarTable form input {
  font-size: 0.7em;
}
#utilBarTable img {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
#searchTable {
  width: 100%;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
  border-bottom: 2px solid #aaa;
  border-left: 2px solid #aaa;
  border-right: 2px solid #aaa;
}
#searchTable th {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  background: #e5e5e5;
  color: #000;
  font-weight: normal;
}
#searchTable td {
  vertical-align: top;
  padding: 4px;
}
#searchTable tr.fieldNames td {
  background: #eee;
  border-bottom: 1px solid #ccc;
}
#searchTable td.relevance {
  white-space: nowrap;
}
#searchTable .searchRelevance {
  background-color: #2c5f89;
  color: black;
}
#searchFilter {
  float: right;
  font-size: 10pt;
  font-weight: normal;
  margin-top: 5px;
}
#tabsTable {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: bottom;
  background-color: #333;
  color: #eee;
  font-size: 0.8em;
}
#tabsTable td {
  padding: 4px 0 0 0;
  white-space: nowrap;
}
#tabsTable img {
  display: inline;
}
#tabsTable a {
  background-color: inherit;
  color: #ccc;
}
#tabsTable td.rightCell {
  width: 100%;
  background : url(../../resources/std-tab-space.gif);
  padding-right: 0.5em;
  text-align: right;
}
#tabsTable .logout {
  padding-left: 0.5em;
  font-size: 0.8em;
}
#navigationBarTable {
  font-size: 0.8em;
  margin: 0em;
  padding: 0em;
  vertical-align: top;
  border-bottom: 1px solid Gray;
}
#navigationBarTable a {
  text-decoration: none;
  white-space: nowrap;
}
#navigationBarTable td {
  vertical-align: top;
}
#navigationBarTable form {
  display: inline;
  margin-bottom: 0em;
}
#navigationBarTable table {
  display: inline;
  margin-bottom: 0em;
}
#navigationBarTable td.todayButton {
  padding: 1em 1em 0 1em;
}
#navigationBarTable td.gotoForm {
  padding: 1em 0.5em 0 0;
}
#navigationBarTable td.leftCell {
  text-align: left;
  white-space: nowrap;
  padding-left: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.75em 0em 0.75em 1em;
  width: 100%;
  vertical-align: middle;
}
#navigationBarTable td.leftCell .prevImg {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
#navigationBarTable td.leftCell .nextImg {
  margin: 0 0.5em 0 0.2em;
  padding: 0;
  vertical-align: middle;
}
#navigationBarTable td.rightCell {
  text-align: right;
  padding: 1em 0.5em 0em 0em;
}
#navigationBarTable td.rightCell select {
  padding-right: 0em;
  margin: 0em;
  width: 10em;
}
#navigationBarTable .calLinks {
  white-space: nowrap;
}
#messages,
#errors {
  font-size: 0.8em;
  margin: 0em;
  padding: 0.3em 0 0.3em 1em;
  border-left : 2px solid #333;
  border-right : 2px solid #333;
  border-bottom: 1px solid Gray;
  color: black;
  background: #d8e118 url(../../resources/glassFill-message.gif) repeat-x bottom;
}

#errors li,
#messages li {
  list-style: none;
}
#messages p,
#errors p {
  margin: 0;
  padding: 2px 0;
}
/*
make no distinction in this stylesheet - yellow is good for both errors and
messages.
#messages {
  color: black;
  background: #d8e118 url(../../resources/glassFill-message.gif) repeat-x bottom;
}
#errors {
  color: black;
  background: #FF8B86 url(../../resources/glassFill-error.gif) repeat-x bottom;
}*/
ul.submenu {
  margin: 0 0 1em 0;
  padding: 0;
  font-size: 0.8em;
  color: black;
  background-color: #eee;
  border-bottom: 1px solid #666;
  border-top: 1px solid #999;
}
ul.submenu li {
  display: inline;
  margin: 0;
  padding: 0 1em 0 1em;
  border-right: 1px solid #999;
  color: black;
  background-color: #ddd;
}
ul.submenu li.selected {
  color: black;
  background-color: white;
  border-bottom: 1px solid white;
}
ul.submenu li a:link,
ul.submenu li a:active,
ul.submenu li a:visited {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
ul.submenu li a:hover,
ul.submenu li:hover {
  color: black;
  background-color: #ffe;
  text-decoration: none;
}
ul.submenu li.selected:hover {
  color: black;
  background-color: white;
}
#standardForm {
  margin: 0;
  padding: 0;
}
#eventAccessLink {
  float: right;
  font-size: 0.8em;
  margin: 0 1em;
}
/* table below is used for almost all forms  */
table.common {
  width: 100%;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
}
table.dottedBorder {
  border: 1px dotted #ccc;
}
table.common th {
  text-align: left;
  vertical-align: top;
  padding: 0.5em;
  background-color: #ddd;
  color: black;
  white-space: nowrap;
}
table.common th.thin {
  width: 80px;
}
table.common th.icon {
  margin: 0em;
  vertical-align: middle;
  padding: 0.5em 1em 0.2em 0;
  font-size: 0.7em;
  background-color: #fff;
  color: black;
}
table.common th.commonHeader {
  vertical-align: middle;
  background-color: #666;
  color: #eee;
  padding: 0.2em 0.5em;
  text-align: left;
  font-weight: normal;
}
table.common th.commonHeader a:link,
table.common th.commonHeader a:active,
table.common th.commonHeader a:visited {
  background-color: inherit;
  color: #eee;
  padding: 0.2em;
  text-align: left;
}
table.common th.commonHeader a:hover {
  background-color: inherit;
  color: #ff9;
  padding: 0.2em;
  text-align: left;
}
table.common td {
  padding: 0;
}
table.common td.filler {
  height: 250px;
}
table.common td.fill {
  background-color: #ddd;
  color: black;
  font-weight: bold;
  padding: 0.2em 0.5em 0.2em 0.5em;
}
table.common th.leftBorder,
table.common td.leftBorder {
  border-left: 1px solid #999;
  border-top: 1px solid #999;
  padding-left: 1em;
}
table.common td.fieldval {
  margin: 0em;
  vertical-align: top;
  padding: 0.5em 0.5em 0.2em 1em;
}
table.common td.fieldname {
  width: 100px;
  margin: 0em;
  vertical-align: top;
  padding: 0.5em 0.5em 0.2em 0.5em;
  color: black;
  background-color: #eee;
  white-space: nowrap;
}
table.dottedBorder td.fieldname {
  text-align: right;
}
table.common td.submit {
  padding: 0.5em 0.5em 0.2em 0.5em;
  color: black;
  background: white;
  text-align: right;
  border-top: 1px solid #ccc;
}
table.common td.eventLinks {
  background-color: #ddd;
  color: #eee;
  padding: 6px 0;
  text-align: center;
}
table.common #eventActions {
  float: right;
  clear: none;
}
table.common #eventActions img {
  display: inline;
  margin-right: 2px;
  vertical-align: middle;
}
table.common td.allField {
  white-space: nowrap;
  text-align: right;
  font-style: italic;
  background-color : white;
  color: black;
  padding: 0.2em;
}
table.common .borderRight {
  border-right: 1px solid #999;
}
table.common tr#exportDateRange td.dates {
  border-bottom: 1px solid #999;
  padding: 0.5em;
}
table.common .padMeTop {
  padding-top: 1em !important;
}
table.common .padMe {
  padding: 1em !important;
}
.dateFields {
  display: inline;
}
.timeFields {
  display: inline;
  margin-left: 1em;
}
.dateStartEndBox {
  border: 1px solid #ccb;
  margin: 4px;
  padding: 4px;
  white-space: nowrap;
}
.dateStartEndBox strong {
  display: block;
}
.startDateLabel {
  margin-left: 26px;
}
select.timezones {
  margin-left: 1em;
  width: 160px;
}
div.durationBox {
  border: 1px solid #ccb;
  display: inline;
  margin: 4px;
  padding: 4px;
}
.durationSpacerText {
  font-weight: bold;
  margin: 0 1em;
}
table.scheduling td {
  white-space: nowrap;
}
table#manage td {
  padding: 0.2em 0 0 0.5em;
}
#bwEventTab-Recurrence {
  margin: 0 1em;
  font-size: 0.9em;
}
#bwEventCalDisplay {
  font-weight: bold;
  margin-right: 1em;
}
#clock {
  position: absolute;
  top: 160px;
  margin: auto;
}
#startTimeFields img,
#endTimeFields img {
  vertical-align: middle;
}
#tztable {
  margin-top: 1em;
}
#tztable td {
  padding: 2px 4px;
}
#recurringSwitch {
  margin: 0 0 1em 0;
}
#recurrenceInfo {
  margin-top: 1em;
  font-weight: bold;
}
#rrulesSwitch,
#rrulesUiSwitch {
  font-size: 0.8em;
}
#rrulesFields {
  margin: 0;
  padding: 0;
}
#rrulesTable {
  border: 1px solid #ddd;
  margin: 0;
  padding: 0;
}
#rrulesTable strong {
  display: inline;
}
#rrulesTable td#recurrenceFrequency {
  padding: 0.5em 1em;
  border-right: 1px solid #ddd;
}
#rrulesTable td#advancedRrules {
  padding: 0.5em 1em 0.5em 1em;
  border-top: 1px solid #ddd;
}
#rrulesTable td#recurrenceUntil {
  width: 100%;
  padding: 0.5em 0 0 1em;
}
.chkBoxListItem {
  display: block;
  float: left;
  width: 3em;
}
#rrulesTable br {
  clear: both;
}
#rrulesTable p {
  margin: 0 0 0.5em 0;
}
#rrulesTable p.weekRecurLinks {
  margin: 1em 0 1em 0;
}
#rrulesTable .extraByMonthPosFields {
  margin: 0 0 1em 2em;
  padding: 0;
}
#rrulesTable #monthRecurFields div,
#rrulesTable #yearRecurFields div {
  display: block;
  margin: 0 0 0.5em 0;
}
#rrulesTable #dayMonthCheckBoxList,
#rrulesTable #monthDaysCheckBoxList,
#rrulesTable #yearWeeksCheckBoxList,
#rrulesTable #yearMonthCheckBoxList,
#rrulesTable #yearMonthDaysCheckBoxList,
#rrulesTable #yearDaysCheckBoxList {
  margin: 0.5em 0 0.5em 2em;
  display: block;
  clear: both;
  white-space: nowrap !important;
}
#recurrenceDatesButton input {
  margin: 2em 0 0 0;
  font-size: 0.8em;
}
.shown {
  display: inline;
}
.visible {
  /* like shown, but apply no styles to this class */
}
.invisible {
  display: none !important;
}
.hidden {
  visibility: hidden;
}
.padMe {
  padding: 1em 0 !important;
}
.strong {
  font-weight: bold;
}
.posrelative {
  /* this class is used primarily to lock absolutely positioned elements to
     their parent.  Be careful removing this class from elements that
     contain an absolutely positioned div. */
  position: relative;
}
table#inbox td {
  padding: 0.2em 0.5em;
  border-bottom: 1px solid #ccc;
}
table.common td.scheduleActions {
  color: black;
  background: #ddc;
}
table#inbox tr.publish {
  background: #ddf;
  color: black;
}
table#inbox tr.request {
  background: #ffd;
  color: black;
}
table#inbox tr.cancel {
  background: #ddd;
  color: black;
}
table#inbox tr.counter {
  background: #fcc;
  color: black;
}
form#subscriptions {
  margin: 0;
  padding: 0;
}
table#attendees th {
  padding: 0 2em 0.1em 0;
  background-color: white;
  color: black;
  border-bottom: 1px dotted #333;
  font-size: 0.9em;
}
table#attendees td {
  padding: 0 2em 0.1em 0;
  font-size: 0.8em;
}
table#attendees td.role,
table#attendees td.status {
  text-transform: lowercase;
}
table#attendees.widget {
  border: 1px solid #999;
}
table#attendees.widget td,
table#attendees.widget th {
  padding: 0.2em 0 0.1em 1em;
  text-align: left;
}
table#attendees.widget td.trash {
  width: 15px;
}
/* this is the recipients and attendees dialog box */
#recipientsAndAttendees {
  position: relative;
  margin: 0;
  padding: 0;
}
#bwDialogBox {
  margin: 0;
  background: white;
  color: black;
}
#bwDialogBox h4 {
  padding: 4px;
  margin: 0;
  text-align: center;
  color: #eee;
  background: #233979 url(../../resources/glassFill-02.gif) repeat-x bottom;
  border: 2px solid #233979;
}
#bwDialogBox #errors,
#bwDialogBox #messages {
  margin: 0;
}
#bwDialogBox table {
  width: 100%;
  margin: 1em 0;
}
#bwDialogBox table th {
  padding: 2px;
  text-align: center;
  color: black;
  background: #eee;
}
#weekCalendarTable {
  width: 100%;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #666;
}
#weekCalendarTable td {
  padding: 0.4em;
  margin: 0em;
}
#weekCalendarTable .dateRange {
  text-align: left;
  background-color: #e2decc;
  color: black;
  white-space: nowrap;
}
#weekCalendarTable .description {
  text-align: left;
  background-color: #fff;
  color: black;
  width: 100%;
}
#weekCalendarTable .more {
  text-align: center;
  background-color: #eee;
  color: black;
  font-size: 0.8em;
}
#monthCalendarTable {
  width: 100%;
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #666;
}
#monthCalendarTable th.dayHeading {
  width: 14%;
  text-align: center;
  vertical-align: middle;
  background-color: #2B4795;
  color: #eee;
  border: 1px solid #333;
}
#monthCalendarTable td {
  width: 14%;
  height: 60px;
  vertical-align: top;
  text-align: left;
  padding: 0em;
  border: 1px solid #aaa;
  background-color: white;
  color: black;
}
#monthCalendarTable td.filler {
  border: none;
  background-color: #eee;
  color: black;
}
#monthCalendarTable ul {
  font-size: 0.8em;
  list-style : none;
  margin: 0em;
  padding: 0.3em 0em 0em 0em;
}
#monthCalendarTable ul li {
  margin: 0em;
  padding: 0em;
  display: inline;
}
#monthCalendarTable a.event {
  display: block;
  padding: 0.1em 0.2em 0.1em 0.2em;
  text-decoration: none;
  border-bottom: 1px solid #bbb;
}
#monthCalendarTable a.firstEvent {
  border-top: 1px solid #bbb; /* first item in the grid needs a top border */
}
#monthCalendarTable a.eventLinkA:link,
#monthCalendarTable a.eventLinkA:visited,
#monthCalendarTable a.eventLinkA:active  {
  background-color: #CCD7F5;
  color: black;
}
#monthCalendarTable a.eventLinkB:link,
#monthCalendarTable a.eventLinkB:visited,
#monthCalendarTable a.eventLinkB:active  {
  background-color: #EBF0FF;
  color: black;
}
#monthCalendarTable a.eventCancelled:link,
#monthCalendarTable a.eventCancelled:visited,
#monthCalendarTable a.eventCancelled:active  {
  background-color: #ccc;
  color: black;
}
#monthCalendarTable a.eventTentative:link,
#monthCalendarTable a.eventTentative:visited,
#monthCalendarTable a.eventTentative:active  {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: #eee url('../../resources/tentativeLines.gif') top;
  color: black;
}
#monthCalendarTable a:hover {
  color: black;
  background-color: #ffa !important; /* must be important to override subscription colors */
  /* required for eventTip to hover correctly;
     apply only to the hover pseudo class, or
     the other anchors nearby will cover the eventTip in IE */
  position: relative;
}
#monthCalendarTable a.dayLink {
  text-decoration: none;
  color: black;
  background-color: transparent;
  padding-left: 2px;
}
#monthCalendarTable a:hover.dayLink {
  text-decoration: none;
  color: #eee !important; /* must be important to override a:hover selector above */
  background-color: black !important; /* must be important to override a:hover selector above */
}
#monthCalendarTable a span.eventTip,
#monthCalendarTable a span.eventTipReverse {
  display: none;
}
#monthCalendarTable a:hover span.eventTip {
  display: block;
  position: absolute;
  width: 20em;
  top: 1em;
  left: 12em;
  background-color: #ffa;
  color: black;
  padding: 4px;
  border: 1px solid #333;
}
#monthCalendarTable a:hover span.eventTipReverse {
  display: block;
  position: absolute;
  width: 20em;
  top: 1em;
  left: -21em;
  background-color: #ffa;
  color: black;
  padding: 4px;
  border: 1px solid #333;
}
#monthCalendarTable a:hover span.eventTipStatusCancelled {
  display: block;
  color: white;
  background-color: #333;
  padding: 2px;
  margin-bottom: 6px;
  text-align: center;
}
#monthCalendarTable a:hover span.eventTipStatusTentative {
  display: block;
  color: black;
  background: #eee url('../../resources/tentativeLines.gif') top;
  padding: 2px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  text-align: center;
}
a.gridAdd {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
}
a.calendarAdd img {
  margin: 0 0 0 0.5em;
  padding: 0;
}
#monthCalendarTable td.today,
#yearCalendarTable td.today {
  background-color: #ffb;
  color: black;
}
#yearCalendarTable td.today {
  border: 1px solid #666;
}
#yearCalendarTable {
  width: 100%;
  font-size: 0.9em;
  margin: 0px;
  padding: 0em;
  border-top: 1px solid #666;
  border-bottom: 2px solid #aaa;
  border-left: 2px solid #aaa;
  border-right: 2px solid #aaa;
}
#yearCalendarTable td {
  padding: 1em 0em 0em 0em;
  margin: 0em;
  vertical-align: top;
  text-align: center;
  width: 33%;
}
#yearCalendarTable table.yearViewMonthTable {
  margin: 0em  1em 0.5em 1em;
  border: 1px solid #ddd;
}
#yearCalendarTable table.yearViewMonthTable td {
  text-align: center;
  padding: 0.2em;
  width: 12.5%;
}
#yearCalendarTable table.yearViewMonthTable th {
  font-weight: bold;
  background-color: #eee;
  color: black;
  padding: 0.2em;
}
#yearCalendarTable table.yearViewMonthTable td.monthName {
  font-weight: bold;
  text-align: center;
  background-color: #2B4795;
  color: #eee;
  white-space: nowrap;
  border-bottom: 1px solid #999;
}
#yearCalendarTable table.yearViewMonthTable td.weekCell {
  font-weight: bold;
  font-size: 0.8em;
  background-color: #eee;
  color: black;
}
#yearCalendarTable  table.yearViewMonthTable td  a  {
  text-decoration: none;
  background-color: inherit;
  padding: 1px;
  color: black;
}
#yearCalendarTable  table.yearViewMonthTable td.weekCell a  {
  text-decoration: none;
  background-color: inherit;
  padding: 1px;
  color: black;
}
#yearCalendarTable  table.yearViewMonthTable td.monthName a  {
  text-decoration: none;
  background-color: inherit;
  padding: 1px;
  color: #eee;
}
#yearCalendarTable  table.yearViewMonthTable td a:hover  {
  text-decoration: none;
  background-color: #FFC;
  color: black;
  border: 1px solid black;
  padding: 0;
}
#listTable {
  width: 100%;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #666;
}
#listTable td {
  padding: 0.5em;
  margin: 0em;
  border-bottom: 1px solid #bbb;
}
#listTable td a {
  background-color: transparent;
  color: black;
  text-decoration: none;
}
#listTable td.dateRangeCrossDay {
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #ddd;
  color: black;
  white-space: nowrap;
}
#listTable td.dateRangeEarlyMorning {
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #D0D5E1;
  color: black;
  white-space: nowrap;
}
#listTable td.dateRangeMorning {
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #DFE7FB;
  color: black;
  white-space: nowrap;
}
#listTable td.dateRangeAfternoon {
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #CCD7F5;
  color: black;
  white-space: nowrap;
}
#listTable td.dateRangeEvening {
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #B3C0E6;
  color: black;
  white-space: nowrap;
}
#listTable span.littleArrow {
  font-size: 1.4em;
}
#listTable td.description {
  text-align: left;
  background-color: #fff;
  color: black;
  width: 100%;
}
#listTable td.bwStatusCancelled {
  background-color: #ddd;
  color: black;
}
#listTable td.bwStatusTentative {
  background: white url('../../resources/tentativeLines.gif') top;
  color: black;
}
#listTable td.description a {
  display: block;
  background-color: transparent;
  color: black;
  text-decoration: none;
}
#listTable td.description a.moreLink {
  display: inline;
  background-color: transparent;
  color: #663;
  text-decoration: underline;
}
#listTable td.description:hover {
  background-color: #eee !important;
  color: black;
  text-decoration: none;
}
#listTable td.dateRow {
  text-align: left;
  background-color: #444;
  /*background-color: #2B4795;*/
  color: #eee;
  font-size: 0.8em;
  margin: 0;
  padding: 0.2em 0.5em 0.2em 0.5em;
}
#listTable td.dateRow a {
  color: #fff;
  background-color: transparent;
  font-weight: bold;
  text-decoration : none;
}
#listTable td.dateRow a.listAdd {
  float:right;
  text-decoration : none;
  font-size: 0.9em;
  font-weight: normal;
  padding-left: 1em;
}
#listTable td.dateRow a.listAdd:link,
#listTable td.dateRow a.listAdd:active,
#listTable td.dateRow a.listAdd:visited {
  color: #eee;
  background-color: transparent;
}
#listTable td.dateRow a.listAdd:hover {
  color: #ffa;
  background-color: transparent;
}
#listTable td.eventLinks {
  color: black;
  background-color: #ddd;
  white-space : nowrap;
  font-size : 0.7em;
}
#listTable td.eventLinks a {
  text-decoration: underline;
}
#listTable td.eventLinks a:hover {
  color: #eee;
  background-color: #333;
  text-decoration: none;
}
#listTable td.smallIcon {
  color: black;
  background-color: #ccc;
}
.noEventsCell {
  padding: 1em;
}
/* Calendars and Subscriptions */
#calendarTable td,
#subsTable td {
  padding: 0 0.5em;
  vertical-align: top;
}
#calendarTable td.cals,
#subsTable td.cals {
  border-right: 1px solid #aaa;
  font-size: 0.9em;
}
#calendarTable td.cals {
  width: 300px;
}
#subsTable td.cals {
  width: 200px;
}
.calendarTree ul {
  padding-left: 10px;
  margin-left: 10px;
}
.calendarTree li {
  padding-top: 0.25em;
}
.calendarTree li.folder {
  list-style-image: url(../../resources/catIcon.gif);
}
.calendarTree li.calendar {
  list-style-image: url(../../resources/calIcon-sm.gif);
}
.calendarTree li.trash {
  list-style-image: url(../../resources/trashIcon.gif);
}
.calendarTree li.deleted {
  list-style-image: url(../../resources/calIconDeleted-sm.gif);
}
.calendarTree li.selected {
  list-style-image: url(../../resources/glassFill-icon-view.gif);
  font-weight: bold;
}
.calendarTree a:link,
.calendarTree a:active,
.calendarTree a:visited {
  text-decoration: none;
  border: none;
}
.calendarTree a:hover {
  color: black;
  background-color: #ff3;
}
img.subStyle {
  float: right;
  clear: right;
  padding: 0;
  margin: 0 10px 0 2px;
  width: 0.8em;
  height: 0.5em;
  border: 1px solid #666 !important;
}
#submitTable {
  width: 98%; /* less than 100% helps avoid IE weirdness */
  margin: 1em 0;
}
.note {
  margin: 0;
  padding: 0 0 1em 0;
  font-size: 0.8em;
  font-style: italic;
}
#freeBusyWho {
  background-color: #666;
  color: #eee;
  padding: 0.2em 0.5em;
  text-align: left;
  font-weight: normal;
}
#freeBusy {
  margin: 1em;
}
#freeBusy td {
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin: 0;
}
#freeBusy th {
  vertical-align: middle;
  text-align: center;
  font-size: 0.8em;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
#freeBusy th.date,
#freeBusy th.time {
  font-weight: bold;
}
#freeBusy td.free,
#freeBusyKey td.free {
  color: #A3BAEA;
  background-color: #A3BAEA;
}
#freeBusy td.busy,
#freeBusyKey td.busy {
  color: #ddd;
  background-color: #ddd;
}
#freeBusy td.tentative,
#freeBusyKey td.tentative {
  color: #DFE7FB;
  background: #DFE7FB url('../../resources/tentativeLines.gif') top;
}
#freeBusyKey {
  margin: 0.5em auto 1em auto;
}
#freeBusyKey td {
  padding: 5px;
}
#freeBusy td.free a {
  color: #A3BAEA;
  background-color: transparent;
  display: block;
  padding: 6px 10px;
  width: 10px;
  height: 10px;
  text-decoration: none;
}
#freeBusy td.tentative a  {
  color: #DFE7FB;
  background-color: transparent;
  display: block;
  padding: 6px 10px;
  width: 10px;
  height: 10px;
  text-decoration: none;
}
#freeBusy td.busy a {
  color: #ddd;
  background-color: transparent;
  display: block;
  padding: 6px 10px;
  width: 10px;
  height: 10px;
  text-decoration: none;
}
#freeBusy td.busy a:hover,
#freeBusy td.free a:hover,
#freeBusy td.tentative a:hover  {
  color: black;
  background-color: yellow;
  text-decoration: none;
}
#sharingBox {
  margin: 0;
  border-top: 1px solid #333;
  padding: 1em 1em 2em 1em;
}
#bwEventTab-Access #sharingBox {
  border-top: none;
}
#sharingBox h3,
#sharingBox h5 {
  padding: 0 0 0.5em 0;
}
#sharingBox ul {
  font-size: 0.8em;
  margin: 0 1em;
}
#sharingBox p {
  font-size: 0.9em;
}
#shareForm {
  margin: 1em 0;
  padding: 0;
}
#shareFormTable td {
  border: 1px solid #666;
  padding: 0 0 0.5em 0;
}
#shareFormTable h5 {
  background: #e5e5e5;
  color: black;
  margin: 0;
  padding: 4px;
}
#shareFormTable .whoTypes {
  margin: 1em;
}
#howList {
  margin: 0;
  padding: 1em 0;
}
/*#howList ul {
  margin: 0 0 0 2em;
  padding: 0 0 0.5em 0;
}*/
#howList li {
  list-style-type: none;
  margin-left: 0;
  font-size: 11px;
}
/* Footer */
#footer {
  font-size: 0.7em;
  text-align : center;
  margin-top: 0em;
  padding: 1em;
  color: #333;
  background-color: #eee;
  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  white-space: nowrap;
}
#footer a {
  color: #333;
  background-color: transparent;
  text-decoration: underline;
}
#skinSelectorTable {
  width: 100%;
  padding-top: 0.5em;
  font-size: 0.7em;
  color: #333;
  background-color: inherit;
}
#skinSelectorTable td {
  vertical-align: top;
}
#skinSelectorTable td.rightCell {
  text-align: right;
}
#skinSelectorTable td.leftCell {
  text-align: left;
  color: #999;
  background-color: inherit;
}
#skinSelectorTable td.leftCell  a {
  color: #999;
  background-color: inherit;
}
#skinSelectorTable td.rightCell form {
  display: inline;
  margin: 0em;
  padding: 0em;
}
#skinSelectorTable td.rightCell select {
  font-size: 0.9em;
  color: #333;
  background-color: #eee;
}
/*   LINKS    */
a:link, a:active {
  color: #00a;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #008;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
span.time {
  text-transform : lowercase;
}
.padTop {
  padding-top: 1em;
}
.nowrap {
  white-space: nowrap;
}
#featureHighlight {
  color: #dd0;
  font-style: italic;
}
