/* Subscription colors for user client.
   These colors correspond to subColors.xml, which is used
   to create the web forms. Background-color must be
   "important" to override more specific selectors in
   the default.css stylesheet.  Note - class names must not
   begin with a number, so all color classes are prepended with "c" */

.cFFFFFF {
  background-color: #FFFFFF !important;
  color: black;
}
.cFDDEEE {
  background-color: #FDDEEE !important;
  color: black;
}
.cDDD4E8 {
  background-color: #DDD4E8 !important;
  color: black;
}
.cBFD5E8 {
  background-color: #BFD5E8 !important;
  color: black;
}
.cCCECEF {
  background-color: #CCECEF !important;
  color: black;
}
.cB3E2DD {
  background-color: #B3E2DD !important;
  color: black;
}
.cCFECCF {
  background-color: #CFECCF !important;
  color: black;
}
.cE0F3B0 {
  background-color: #E0F3B0 !important;
  color: black;
}
.cFFFFB0 {
  background-color: #FFFFB0 !important;
  color: black;
}
.cFEEBC9 {
  background-color: #FEEBC9 !important;
  color: black;
}
/* medium pastels */
.cEEEEEE {
  background-color: #EEEEEE !important;
  color: black;
}
.cFBB6D1 {
  background-color: #FBB6D1 !important;
  color: black;
}
.cC1B3D7 {
  background-color: #C1B3D7 !important;
  color: black;
  /* purple swallows up the default border color, so for this one alone,
     override it */
  border-bottom: 1px solid #999 !important;
}
.c94A8D0 {
  background-color: #94A8D0 !important;
  color: black;
}
.c9ACEDF {
  background-color: #9ACEDF !important;
  color: black;
}
.c86CFBE {
  background-color: #86CFBE !important;
  color: black;
}
.cB5E1AE {
  background-color: #B5E1AE !important;
  color: black;
}
.cBFE476 {
  background-color: #BFE476 !important;
  color: black;
  /* gree swallows up the default border color, so for this one alone,
     override it */
  border-bottom: 1px solid #999 !important;
}
.cFFFA81 {
  background-color: #FFFA81 !important;
  color: black;
}
.cFDCAA2 {
  background-color: #FDCAA2 !important;
  color: black;
}
/* dark pastels */
.cDDDDDD {
  background-color: #DDDDDD !important;
  color: black;
}
.cF98CB6 {
  background-color: #F98CB6 !important;
  color: black;
}
.cA589C1 {
  background-color: #A589C1 !important;
  color: black;
}
.c7589BF {
  background-color: #7589BF !important;
  color: black;
}
.c6FB7D6 {
  background-color: #6FB7D6 !important;
  color: black;
}
.c48B5A3 {
  background-color: #48B5A3 !important;
  color: black;
}
.c91D290 {
  background-color: #91D290 !important;
  color: black;
}
.c85CA5D {
  background-color: #85CA5D !important;
  color: black;
}
.cFFED62 {
  background-color: #FFED62 !important;
  color: black;
}
.cFCA985 {
  background-color: #FCA985 !important;
  color: black;
}
