/* Subscription colors for web clients.
   These colors correspond to subColors.xml, which is used
   to create the web forms. Background-color must be
   "important" to override more specific selectors in
   the default.css stylesheet. */

.bwwhite {
  background-color: #ffffff !important;
  color: black;
}
.bwltpink {
  background-color: #fddeee !important;
  color: black;
}
.bwltpurple {
  background-color: #ddd4e8 !important;
  color: black;
}
.bwltsteelblue {
  background-color: #bfd5e8 !important;
  color: black;
}
.bwltblue {
  background-color: #ccecef !important;
  color: black;
}
.bwltaquamarine {
  background-color: #b3e2dd !important;
  color: black;
}
.bwltaquamarine {
  background-color: #cfeccf !important;
  color: black;
}
.bwltgreen {
  background-color: #e0f3b0 !important;
  color: black;
}
.bwltyellow {
  background-color: #ffffb0 !important;
  color: black;
}
.bwltsalmon {
  background-color: #feebc9 !important;
  color: black;
}
/* medium pastels */
.bwgray {
  background-color: #eeeeee !important;
  color: black;
}
.bwpink {
  background-color: #fbb6d1 !important;
  color: black;
}
.bwpurple {
  background-color: #c1b3d7 !important;
  color: black;
  /* purple swallows up the default border color, so for this one alone,
     override it */
  border-bottom: 1px solid #999 !important;
}
.bwsteelblue {
  background-color: #94a8d0 !important;
  color: black;
}
.bwblue {
  background-color: #9acedf !important;
  color: black;
}
.bwaquamarine {
  background-color: #86cfbe !important;
  color: black;
}
.bwseagreen {
  background-color: #b5e1ae !important;
  color: black;
}
.bwgreen {
  background-color: #bfe476 !important;
  color: black;
  /* gree swallows up the default border color, so for this one alone,
     override it */
  border-bottom: 1px solid #999 !important;
}
.bwyellow {
  background-color: #fffa81 !important;
  color: black;
}
.bwsalmon {
  background-color: #fdcaa2 !important;
  color: black;
}
/* dark pastels */
.bwmdgray {
  background-color: #dddddd !important;
  color: black;
}
.bwmdpink {
  background-color: #f98cb6 !important;
  color: black;
}
.bwmdpurple {
  background-color: #a589c1 !important;
  color: black;
}
.bwmdsteelblue {
  background-color: #7589bf !important;
  color: black;
}
.bwmdblue {
  background-color: #6fb7d6 !important;
  color: black;
}
.bwmdaquamarine {
  background-color: #48b5a3 !important;
  color: black;
}
.bwmdseagreen {
  background-color: #91d290 !important;
  color: black;
}
.bwmdgreen {
  background-color: #85ca5d !important;
  color: black;
}
.bwmdyellow {
  background-color: #ffed62 !important;
  color: black;
}
.bwmdsalmon {
  background-color: #fca985 !important;
  color: black;
}
