<?xml version="1.0" encoding="UTF-8" ?>

<bwtz-cnvinfo xmlns="http://bedework.org/ns/" type="org.bedework.timezones.convert.TzConvertParams">
  <aliasesPath>@DATA_DIR@/tzsvr/aliases.properties</aliasesPath>
  <compare>true</compare>
  <compareWithPath>@DATA_DIR@/tzsvr/cmu-2014d/</compareWithPath>
  <endYear>2040</endYear>
  <generate>true</generate>
  <name>config</name>
  <prodid>-//bedework.org//tzsvr//EN</prodid>
  <rootdir>@DATA_DIR@/tzsvr/tzdata2014d/</rootdir>
  <source>IANA 2014d</source>
  <startYear>1800</startYear>
  <tzServerUri></tzServerUri>
</bwtz-cnvinfo>
