ul#calDisplayOptions li {padding:0 .7em;}

div#nav-search-wrap {height:30px; overflow:hidden;}

.yui-calendar .calheader {position:relative; height:1.75em; background-color:#377BA8; color:#FFF; font-size:1.1em; line-height:1.7; text-align:center;}

div#cal1 {float:left; width:234px; padding:0 1px 0 0; margin:0; min-height:190px;}
div#feature {float:left; margin:0; width:722px; height:190px; background:#FFF;}
div#groupListDiv {width:717px;margin-left:234px}
div.left_column div.clear {background-color:#FFF;}
div.right_column {width:234px;}

.secondaryColHeader {padding:10px 0 0 10px;background:#273E6D; height:43px;}
table.yearViewMonthTable {width:160px;}