<?xml version="1.0" encoding="UTF-8" ?>

<system-properties xmlns="http://bedework.org/ns/"
                   type="org.bedework.calsvc.jmx.SystemPropertiesImpl">
  <admingroupsClass>org.bedework.calsvc.directory.AdminGroupsDbImpl</admingroupsClass>
  <cacheUrlPrefix>http://localhost:8080/cache/</cacheUrlPrefix>
  <calSoapWsWSDLURI>http://localhost:8080/wsdls/calws-soap/wssvc.wsdl</calSoapWsWSDLURI>
  <eventregUrl>http://localhost:8080/eventreg/</eventregUrl>
  <mailerClass>org.bedework.mail.DummyMailer</mailerClass>
  <notifierId>notify-user</notifierId>
  <notifierToken>abcd</notifierToken>
  <rootUsers>admin</rootUsers>
  <systemid>demobedework@mysite.edu</systemid>
  <timezonesByReference>false</timezonesByReference>
  <tzServeruri>http://localhost:8080/tzsvr</tzServeruri>
  <tzid>America/New_York</tzid>
  <userauthClass>org.bedework.calsvc.directory.UserAuthUWDbImpl</userauthClass>
  <usergroupsClass>org.bedework.calsvc.directory.UserGroupsLdapImpl</usergroupsClass>
</system-properties>
