<?xml version="1.0" encoding="UTF-8" ?>

<selfreg xmlns="http://bedework.org/ns/"
         type="SelfregConfigProperties">
  <ldapUrl>ldap://localhost:10389</ldapUrl>
  <baseDn>dc=bedework, dc=org</baseDn>
  <accountsOu>accounts</accountsOu>
  <accountsDn>ou=accounts, dc=bedework, dc=org</accountsDn>
  <accountsAttr>uid</accountsAttr>
  <groupsOu>groups</groupsOu>
  <groupsDn>ou=groups, dc=bedework, dc=org</groupsDn>
  <adminId>uid=admin,ou=system</adminId>
  <adminPw>secret</adminPw>
  <dbPath>${org.bedework.data.dir}/selfreg</dbPath>
  <mailProtocol>smtp</mailProtocol>
  <mailProtocolClass>com.sun.mail.smtp.SMTPTransport</mailProtocolClass>
  <mailServerHost>localhost</mailServerHost>
  <mailFrom>bedework@bedework.org</mailFrom>
  <mailSubject>Bedework self registration</mailSubject>
  <mailDisabled>false</mailDisabled>
</selfreg>
